/* Account button */
button {
    font-size: 1.1vw;
}

/* Username of the logged-in user */
p {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: .5vw;
}

/* Divider line */
.menu-divider {
    border-top: .1vw solid #ccc;
    margin-bottom: .6vw;
}

/* "Change Password" & "Logout" hyperlinks */
a {
    display: flex;
    justify-content: center;
}