p {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.menu-divider {
    border-top: 1px solid #ccc;
    margin: 8px 0;
}

.div-user-reviews {
    margin-right: 4vw;
}

.a-user-reviews {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.1vw;
}

.a-user-reviews:hover {
    color: darkblue;
}

.mat-menu-panel {
    background-color: lightgray;
}

a {
    display: flex;
    justify-content: center;
}