<img src="../assets/foodslide.jpg" height="700" width="9982" class="slider-ltr">

<div class="centered">
  <!-- Homepage message -->
  <p class="homepage-message">
    <span>
      Are you craving some food?<br>
      <span class="message-explanation">Search for a Restaurant in your chosen City</span>
    </span>
  </p>

  <!-- Search Restaurant button -->
  <button class="search-restaurant" mat-raised-button color="accent" [routerLink]="['search-results']" (click)="getSearch()">Search Restaurant</button>
</div>