/* Centered container */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
}

/* <p> tag containing the homepage message */
.homepage-message {
    /*background-color: rgba(255, 255, 255, .9);
    */padding: 2% 1%;
    font-size: 4vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Example shadow with offset and blur */
    text-transform: uppercase;
    border-radius: .8vw;
    text-align: center;
    margin: 2vw 0;
    width: 100%;
}

/* Homepage message */
.homepage-message span {
    color: white;
}

.message-explanation {
    font-size: 2.6vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Background image */
.slider-ltr {
    top: 14%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    animation: linear scroll 20s infinite;
    height: 82%;
    width: 700%;
    transform: translate3d(-25%, 0, 0);
}

/* General button styles */
button {
    width: 15%;
    font-size: 1.5vw;
}

/* Restaurant search button */
.search-restaurant {
    width: 27%;
    padding: 2.1% 0;
}

/* Background image animation speed and direction */
@keyframes scroll {
    100% {
        transform: translateX(-50%)
    }
}