<img src="../assets/foodslide.jpg" height="700" width="9982" class="slider-ltr">
<div>
  <button mat-raised-button color="accent" *ngIf="!userService.isLoggedIn" [routerLink]="['register']">Sign Up</button>
  <button mat-raised-button color="accent" *ngIf="!userService.isLoggedIn" [routerLink]="['login']">Log In</button>

  <p>
    <span>
    Are you craving some food?<br><br>
    Search for a Restaurant or Food Item in your chosen City
    </span>
  </p>

  <button mat-raised-button color="accent" [routerLink]="['search-results']" (click)="getSearch()">Search</button>
</div>

<div class="bottom"></div>