/* Div containing the header, form, and response message for the password change */
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

/* Header for the password change form */
h1 {
    text-align: center;
}

/* Password change form */
form {
    width: 28vw;
    padding: 1.3vw;
    background-color: #f5f5f5;
    border-radius: .3vw;
}

/* Label for the corresponding input field */
label {
    display: block;
    margin-bottom: .8vw;
    font-size: .9vw;
}
  
/* Input fields */
input[type="username"],
input[type="password"] {
    width: 100%;
    padding: .6vw;
    border: none;
    border-radius: .3vw;
    margin-top: .3vw;
    margin-bottom: 1.2vw;
    box-sizing: border-box;
    font-size: .9vw;
}
  
/* Form submission button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: .4vw .9w;
    border: none;
    border-radius: .4vw;
    cursor: pointer;
    font-size: 1.2vw;
}
  
/* When your mouse hovers over the submission button */
button[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Response message */
p {
    margin-top: 1.3vw;
    font-size: 1vw;
    color: #666;
}

/* Span containing the submission button */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer div */
.bottom {
    width: 100%;
    height: 17%;
    position: fixed;
    bottom: 0;
    background-color:orangered;
    top: 100%;
}