<div>
  <h1>Register</h1>

  <!-- Form to submit the username and password -->
  <form (ngSubmit)="onSubmit($event)">
    <!-- Username requirements -->
    <span class="requirements">
      Only Letters & Numbers (between 5 & 50 Characters)
    </span>

    <label>
      Username:
      <input type="username" name="username" [(ngModel)]="user.username" required>
    </label>
  
    <!-- Password requirements -->
    <span class="requirements">
      Minimum of 1 Uppercase, 1 Lowercase, 1 Number, 1 Special Character
      (between 5 & 50 Characters)
    </span>

    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </label>

    <span class="center">
      <button type="submit">Register</button>
    </span>
  </form>

  <!-- Response message on whether the account was successfully created or not -->
  <p>{{ responseMessage }}</p>
</div>

<div class="bottom"></div>