<div>
<h1>Register</h1>
<form (ngSubmit)="onSubmit($event)">
    <label>
      Username:
      <input type="username" name="username" [(ngModel)]="user.username" required>
    </label>
  
    <span>Password must contain one uppercase, one lowercase, one number, one special character
      and be between 5 and 50 characters.</span>

    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </label>

    <span class="center">
    <button type="submit">Register</button>
    </span>
</form>


<p>{{ responseMessage }}</p>
</div>

<div class="bottom"></div>