<form (ngSubmit)="onSubmit($event)">
    <label>
      Username:
      <input type="username" name="username" [(ngModel)]="user.username" required>
    </label>
  
    <div style="width: 600px">Password must contain one uppercase, one lowercase, one number, one special character
      and be between 5 and 50 characters.</div>

    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </label>
  
    <button type="submit">Register</button>
</form>

<p>{{ responseMessage }}</p>