<!-- Display the username searched for -->
<p class="header"><span style="font-weight: 500">{{displayUsername}}</span> Ratings</p>

<!-- Enables the user to give the username to get their ratings -->
<div class="input-container">
  <label for="user-id-input">Enter Username:</label>
  <input id="user-id-input" type="text" [(ngModel)]="username">
  <button (click)="getUserRatings()">Get Ratings</button>
</div>

<!-- Table that gives the username's food item ratings (if they have ratings) -->
<table class="ratings-table" *ngIf="ratings.length > 0">
    <thead>
      <tr>
        <th>Rating</th>
        <th>Dish</th>
        <th>Restaurant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rating of ratings">
        <td>{{ rating.rating }}/5</td>
        <td>{{ rating.food }}</td>
        <td>{{ rating.restaurant }}</td>
      </tr>
    </tbody>
</table>

<!-- Message to notify the user that this username searched for does not have ratings -->
<p class="no-ratings" *ngIf="noRatings">No ratings from {{displayUsername}}</p>
<!-- Message to notify the user that this username searched for does not exist -->
<p class="user-not-found" *ngIf="userNotFound">User not found</p>