<p class="header">{{username}} Ratings</p>

<div class="input-container">
  <label for="user-id-input">Enter Username:</label>
  <input id="user-id-input" type="text" [(ngModel)]="username">
    <button (click)="getUserRatings()">Get Ratings</button>
</div>
  
<table class="ratings-table" *ngIf="ratings.length > 0">
    <thead>
      <tr>
        <th>Rating</th>
        <th>Food</th>
        <th>Restaurant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rating of ratings">
        <td>{{ rating.rating }}/5</td>
        <td>{{ rating.food }}</td>
        <td>{{ rating.restaurant }}</td>
      </tr>
    </tbody>
</table>

<p class="no-ratings" *ngIf="noRatings">No ratings from {{username}} yet</p>