<h2 style="margin-bottom: 0%" class="restaurant-name">{{restaurantName}}</h2>

<div class="center">
    <form (submit)="onSubmit($event, 'add' || 'remove')">
        Category:
        <input type="category" name="category"  [(ngModel)]="dish.category">
        Name:
        <input type="dishname" name="dishname"  [(ngModel)]="dish.dishname">
        Price:
        <input type="price" name="price" [(ngModel)]="dish.price">
        Description:
        <input type="description" name="description" [(ngModel)]="dish.description">

        <button class="add-button" mat-raised-button color="accent"  (click)="onSubmit($event, 'add')">Add Dish</button>
        <button class="add-button" mat-raised-button color="accent" (click)="onSubmit($event, 'remove')">Remove Dish</button>
    </form>
</div>

<div class="text-center">
    <button mat-raised-button color="accent" class="mx-auto" (click)="openDialog()">Rate a Dish!</button>
</div>

<div *ngFor="let category of categories index as i">
    <!-- Heading for a dish category -->
    <h1 class="category-name">{{category}}</h1>
    <div style="display: flex;">
        <button class= "scroll-button" [ngStyle]="{'opacity': (dishIndex[i] - 1) >= 0 ? '1' : '0.5'}" 
        [disabled]="(dishIndex[i] - 1) < 0"
        (click)="lessDishes(i)">
        <!-- Button to scroll through the dishes -->
        &lt;</button>

        <div *ngFor="let dish of filterDishesByCategory(i) index as j">
            <div id="menu-box">
                <div id="menu-box-box">
                    <div class="header">
                        <div class="left=side">
                            <a class="dish-name" [title] = "dish.name + ' details'">
                                <!-- Dish name -->
                                {{dish.Name}}
                            </a>
    
                            <h3 class="dish-price">
                                <!-- Dish price -->
                                ${{dish.Price | number:'1.2-2'}}
                            </h3>
                        </div>
                    </div>
                </div>

                <h3 class="dish-description">
                    {{dish.Description}}
                </h3>
                
                <div style="height: 100%">
                    <div id="dish-rating">
                        <span class="ratings">
                            Your Rating:
                            <ngb-rating style="margin: 0; margin-left: 8px" id="rating-time" [max]="5" [rate]="dish.Rating" [readonly]="true"></ngb-rating>
                            
                            <!-- Displays the average dish rating as a whole number or with 1 decimal place if it is not a whole number -->
                            <p>Average Rating: {{ dish.AverageRating | decimalLimit }}/5</p>
                            
                            <!-- Link to view a dish's user ratings if available -->
                            <a [routerLink]="['/dish-ratings', dish.Id]" class="user-ratings" *ngIf="dish.CountRating > 0">
                                {{ dish.CountRating }}
                                {{ dish.CountRating === 1 ? 'user rating' : 'user ratings' }}
                            </a>
                            <p class="no-user-ratings" *ngIf="dish.CountRating == 0">
                                No ratings yet
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Button to scroll through the dishes -->
        <button class= "scroll-button" [ngStyle]="{'opacity': (dishIndex[i] + 4) < categorySizes[i].length ? '1' : '0.5'}" 
        (click)="moreDishes(i)"
        [disabled]="(dishIndex[i] + 4) >= categorySizes[i].length">
        &gt;</button>

    </div>
</div>