/* Restaurant name */
.restaurant-name
{
    margin-top: 1.5vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

/* Scroll buttons */
.scroll-button
{
    height: 13vw;
    background-color: #D3D3D3;    
    color: black;
    border-style: solid;
    border-radius: .5vw;
    border-width: .1vw;
}

#menu-box
{
    display: block;
    width: 20vw;
    height: 13vw;
    border-style: solid;
    border-radius: .5vw;
    border-width: .1vw;
    margin-bottom: 4vw;
    margin-left: .5vw;
    margin-right: .5vw;
}

/* Menu box content */
#menu-box-box
{
    margin: .5vw;
    flex-direction: column;
}

.header
{
    display: flex;
    justify-content: space-between;
}

.dish-name
{
    font-size: 1.2vw;
    display: inline-block;
    font-weight: bold;
}

.dish-price
{
    font-size: 1vw;
    display: inline-block;
    margin-left: 1vw;
}

/* Adjust bottom margin using dish-rating only! */
#dish-rating
{
    font-size: large;
    margin-left: 0.5vw;
}

/* Rating stars */
#rating-time
{
    color: yellow;
    text-align: center;
    align-items: center;
} 

.dish-description
{
    font-size: 1.1vw;
    font-weight: lighter;
    height: 3vw;
    margin-bottom: 0;
    margin-left: .5vw;
}

/* Div containing the form to add/remove a dish */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
}

/* Form to add/remove a dish */
form {
    padding: 1vw;
    background-color: #f5f5f5;
    border-radius: .5vw;
}

.add-button {
    margin-left: 1vw;
}

/* Span containing a dish's ratings */
.ratings {
    font-size: 1vw;
}

/* <p> tag within ".ratings" when a dish has no ratings */
.no-user-ratings {
    color: #20B0A3;
}

/* Hyperlink to view every user rating of a dish */
.user-ratings {
    color: #20B0A3;
}

.user-ratings:hover {
    color: #034a57;
    text-decoration: underline;
}