.restaurant-name
{
    margin-top: 1.5vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

#restaurant-reviews
{
    display: flex;
    justify-content: center;
}


/*.restaurant-rating-overall
{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}*/


.scroll-button
{
    height: 13vw;
    background-color: #D3D3D3;    
    color: black;
    border-style: solid;
    border-radius: .5vw;
    border-width: .1vw;
}

#custom-container
{
    display: flex;
}

#menu-box
{
    display: block;
    width: 20vw;
    height: 13vw;
    border-style: solid;
    border-radius: .5vw;
    border-width: .1vw;
    margin-bottom: 4vw;
    margin-left: .5vw;
    margin-right: .5vw;
}

#menu-box-box
{
    margin: .5vw;
    flex-direction: column;
}

.header
{
    display: flex;
    justify-content: space-between;
}

.dish-name
{
    font-size: 1.2vw;
    display: inline-block;
    font-weight: bold;
}

.dish-price
{
    font-size: 1vw;
    display: inline-block;
    margin-left: 1vw;
}

/* Adjust bottom margin using dish-rating only!!!! */
#dish-rating
{
    font-size: large;
    margin-left: 0.5vw;
}

#rating-time
{
    color: yellow;
    text-align: center;
    align-items: center;
}

mat-icon {
    color: yellow;
    text-align: center;
    align-items: center;
}
  

.dish-description
{
    font-size: 1.1vw;
    font-weight: lighter;
    height: 3vw;
    margin-bottom: 0;
    margin-left: .5vw;
}

i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #1e90ff;
}
.low {
    color: #deb0b0;
}
.filled.low {
    color: #ff1e1e;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
}

form {
    padding: 1vw;
    background-color: #f5f5f5;
    border-radius: .5vw;
}

.add-button {
    margin-left: 1vw;
}

.ratings {
    font-size: 1vw;
}

.no-user-ratings {
    color: #20B0A3;
}

.user-ratings {
    color: #20B0A3;
}

.user-ratings:hover {
    color: #034a57;
    text-decoration: underline;
}