<div>
    <!-- Dropdown menu for selecting a dish -->
    <mat-form-field style="margin-top: 5%; margin-left: 7%; width: 250px">
        <mat-select name="dishString" [(value)]="selectedDish" placeholder="Dish">
            <!-- Iterate over the selected restaurant's dishes as the given options to give a rating-->
            <mat-option *ngFor="let dish of data[0]" [value]="dish.Name">{{dish.Name}}</mat-option>
        </mat-select>     
    </mat-form-field>
</div>

<div class="rating-container">
    <!-- Star rating component for rating the dish -->
    <ngb-rating style="font-size: xx-large;" [max]="5" [(rate)]="rating" [readonly]="false"></ngb-rating>
</div>

<!-- Submit and Close buttons -->
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="submit()">Submit</button>
    <div style="width: .8vw;"></div>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>