<img src="../assets/foodslide.jpg" height="700" width=100% class="slider-ltr">

<div id="search-area">
    <div id="search-bar">
        <form autocomplete="off">
            <mat-form-field style ="width: 1000px; height: 70px">
                <input matInput [(ngModel)]="search" name="search" placeholder="What are you craving?">
            </mat-form-field>
        </form>
    </div>

    <div id="search-button">
        <button mat-raised-button color="accent" (click)="getSearch()" [matMenuTriggerFor]="searchType">Search</button>

        <mat-menu #searchType="matMenu" yPosition="below">
            <button mat-raised-button color="accent" [routerLink]="['search-results']" (click)="getCriteria('name')" [matMenuTriggerFor]="criteria">Restaurant</button>
            <button mat-raised-button color="accent" [routerLink]="['search-results']" (click)="getCriteria('dish')" [matMenuTriggerFor]="criteria">Dish</button>
        </mat-menu>
    </div>
</div>
