/* Styles for h2 */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin: 2vw 0;
}

h2 span {
    font-weight: bold;
}

/* Styles for table */
.ratings-table {
    border-collapse: collapse;
    width: 100%;
}

/* Styles for table head */
.ratings-table th {
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
}

/* Styles for table row */
.ratings-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Styles for alternating row colors */
.ratings-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.back-hyperlink {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 255, 0.508);
    margin-top: 3.5vw;
}

.back-hyperlink:hover {
    color: darkblue;
}