<h2 class="restaurant-name">A Restaurant</h2>

<div *ngFor="let dish of dishes">
    <div id="menu-box">
        <div class="header">
            <div class="left=side">
                <a class="dish-name" [title] = "dish.name + ' details'">
                    {{dish.name}}
                </a>

                <h3 class="dish-price">
                    {{dish.price}}
                </h3>
            </div>

        <ngb-rating [max]="5" [(rate)]="dish.rating" [readonly]="false"></ngb-rating>
        </div>

        <h3 class="dish-description">
            {{dish.description}}
        </h3>
    </div>
    
</div>