<h2 class="restaurant-name">{{restaurantName}}</h2>
<div class="center">
    <form>
          Category:
          <input type="category" name="Category"  required>
          Name:
          <input type="dishname" name="dishname"  required>
          Price:
          <input type="price" name="price"  required>
          Description:
          <input type="description" name="description"  required>
          <button mat-raised-button color="accent" (click)="dishAdd()">Add Dish</button>
          <button mat-raised-button color="accent" (click)="dishRemove()">Remove Dish</button>
    </form>
</div>

<div *ngFor="let category of categories index as i">
    {{resetCount()}}
    <h1 class="category-name">{{category}}</h1>
    <div style="display: flex;">
        <button class= "scroll-button" [ngStyle]="{'opacity': (dishIndex[i] - 1) >= 0 ? '1' : '0.5'}" 
        [disabled]="(dishIndex[i] - 1) < 0"
        (click)="lessDishes(i)">
        &lt;</button>
        <div *ngFor="let dish of menu index as j">
                <div id="menu-box"*ngIf="(dish.Category == category)">
                    {{countUp()}}
                    <div id="menu-box-box">
                        <div class="header">
                            <div class="left=side">
                                <a class="dish-name" [title] = "dish.name + ' details'">
                                    {{dish.Name}}
                                </a>
        
                                <h3 class="dish-price">
                                    {{dish.Price}}
                                </h3>
                            </div>
                        </div>
        
                        <h3 class="dish-description">
                            {{dish.Description}}
                        </h3>
                        
                        <div style="height: 100%">
                            <div id="dish-rating">
                                <ngb-rating id="rating-time" [max]="5" [(rate)]="dish.rating" [readonly]="true"></ngb-rating>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        <button class= "scroll-button" [ngStyle]="{'opacity': (dishIndex[i] + 4) < categorySizes[i] ? '1' : '0.5'}" 
        (click)="moreDishes(i)"
        [disabled]="(dishIndex[i] + 4) >= categorySizes[i]">
        &gt;</button>

    </div>

</div>