<!--<h2>A Restaurant</h2>
<div *ngFor="let dish of dishes">
    <div id="dish-box">
        <h3 class="dish-name">
            <a [title]="dish.name + ' details'">
            {{dish.name}}
            </a>
        </h3> 

        <h3 class="dish-price" *ngIf="dish.price">
            {{dish.price}}
        </h3>
        
        <p *ngIf="dish.description">
            {{ dish.description }}
        </p>
    </div>
</div> -->

<h2 class="restaurant-name">A Restaurant</h2>

<div *ngFor="let dish of dishes">
    <div id="menu-box">
        <div class="header">
            <div class="left=side">
                <a class="dish-name" [title] = "dish.name + ' details'">
                    {{dish.name}}
                </a>

                <h3 class="dish-price">
                    {{dish.price}}
                </h3>
            </div>
            
            <h3 class="dish-rating">
                Placeholder
            </h3>
        </div>
        <h3 class="dish-description">
            {{dish.description}}
        </h3>
    </div>
</div>