<div>
  <h1>Log In</h1>

  <!-- Form to submit the username and password -->
  <form (ngSubmit)="onSubmit($event)">
    <label>
      Username:
      <input type="username" name="username" [(ngModel)]="user.username" required>
    </label>
  
    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </label>
  
    <span class="center">
      <button type="submit">Log In</button>
    </span>
  </form>

  <!-- Response message on whether the login was successful or not -->
  <p>{{ responseMessage }}</p>
</div>

<!-- Footer div -->
<div class="bottom"></div>